<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Текстовый редактор "Импортозамещение"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div id="app">
        <header>
            <h1>ИМПОРТОЗАМЕЩЕНИЕ ТЕКСТОВОГО РЕДАКТОРА<span class="v">Наш отечественный ответ Илону Маску!</span></h1>
            <div class="header-status">
                <span id="file-status">Новый файл</span>
            </div>
        </header>

        <main>
            <aside id="sidebar">
                <h2>Файлы</h2>
                <div id="file-list">
                    <div class="loading">Загрузка...</div>
                </div>
                <button id="new-file-btn">+ Создать</button>
            </aside>

            <section id="editor-container">
                <div class="editor-header">
                    <input type="text" id="filename-input" placeholder="имя_файла.txt">
                    <button id="save-btn">Сохранить (Ctrl+S)</button>
                </div>
                <textarea id="editor" spellcheck="false" placeholder="Введи текст здесь..."></textarea>
            </section>
        </main>

        <footer>
            <p>&copy; 2026 лабораторная работа №7-8. Василий Гурьянов.</p>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>